[Unit]
Description=Load Humbug reports from the Redis reports queue to the database
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
WorkingDirectory=/home/ubuntu/drones
EnvironmentFile=/home/ubuntu/drones-secrets/app.env
Restart=on-failure
RestartSec=15s
ExecStart=/home/ubuntu/drones-env/bin/python -m drones.cli humbug_reports start_polling --blocking
SyslogIdentifier=drones-humbug-reports

[Install]
WantedBy=multi-user.target